{% extends 'base.html' %}
{% load static %}
{% block title %}SignIn{% endblock %}
{% block content %}
<main>
    <div id="content" class="signin_content">
        <h1>SpeedyLink</h1>
        <form id="signin_form" action="{% url 'speedylink:signin' %}" method="post">
            {% csrf_token %}
            {% if error == True %}
            <p style="color: red;font-size: small;">Enter Correct Username,Password! Try Again</p>
            {% endif %}
            <input type="username" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login" id="login">
        </form>
        <button id="signup_btn"><a href="{% url 'speedylink:signup' %}">Create New Account</a></button>
    </div>
</main>
{% endblock %}